.container {
    display: grid;
    grid-template-columns: repeat(8, minmax(auto, 60px));
    grid-gap: 40px;
    justify-content: center;
}


@media only screen and (max-width: 700px) {
   .container {
     grid-gap: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .container {
     grid-template-columns: 10px repeat(6, 1fr) 10px;
     grid-gap: 10px;
     grid-column: 2 / span 6;
     grid-template-columns: repeat(6, 1fr);
     grid-gap: 20px;
  }
}